.vscode
biocypher-*
*__pycache__*
neo4j.pass
backup
*.DS_Store
notebooks
tmp.sh

import.report

data

.venv
poetry.lock
uv.lock
*.egg-info
build

oncodashkb/transformers/networks.py
oncodashkb/adapters/omnipath_networks.yaml