########################
# NODES
########################

# Defined in alphabetical order

alteration:
    is_a: sequence variant
    represented_as: node
    label_in_input: alteration
    properties:
        citation_PM_ids: str
        consequence: str
        homogenous: str
        mutation_effect_description: str
        data_source: str
        oncogenic: str
        reference_genome: str
        tumor_type: str
        tumor_type_summary: str
        variant_summary: str

disease:
    represented_as: node
    label_in_input: disease
    properties:
        data_source: str

gene status:
    is_a: outcome
    represented_as: node
    label_in_input: gene_status
    properties:
        data_source: str

gene:
    represented_as: node
    label_in_input: gene
    properties:
        gene_summary: str
        data_source: str

patient:
    represented_as: node
    label_in_input: patient
    synonym_for: case
    properties:
        survival: str
        treatment_strategy: str
        data_source: str

sample:
    is_a: material sample
    respresented_as: node
    label_in_input: sample
    properties:
        data_source: str

# Drug

drug:
    represented_as: node
    input_label: drug # final_type node type
    properties:
        name: str
        ncbi_tax_id: str

# Long non Coding - RNA

lncrna:
    is_a: noncoding RNA product
    represented_as: node
    input_label: lncrna
    properties:
        name: str
        ncbi_tax_id: str

# Macromolecular complex

source complex:
    is_a: macromolecular_complex
    represented_as: node
    input_label: source_complex
    properties:
        genesymbol: str
        ncbi_tax_id: str

target complex:
    is_a: macromolecular_complex
    represented_as: node
    input_label: target_complex
    properties:
        genesymbol: str
        ncbi_tax_id: str

macromolecular complex:
    represented_as: node
    input_label: macromolecular_complex 
    properties:
        genesymbol: str
        ncbi_tax_id: str

# Micro-RNA

mirna:
    is_a: microRNA
    represented_as: node
    input_label: mirna
    properties:
        name: str
        ncbi_tax_id: str

# Protein

source protein:
    is_a: protein
    represented_as: node
    input_label: source_protein
    properties:
        genesymbol: str
        ncbi_tax_id: str

target protein:
    is_a: protein
    represented_as: node
    input_label: target_protein
    properties:
        genesymbol: str
        ncbi_tax_id: str

protein:
    represented_as: node
    input_label: protein
    properties:
        genesymbol: str d
        ncbi_tax_id: str

########################
# EDGES
########################

## CAUSAL LINKS
## Everything that derivates from the "causes" link type.
## Comprises both real causes and ownership ("carries").

### CARRIES

# To allow queries for patient carrying samples, and samples carrying alterations,
# without mixing with "effects" causes.
carries:
    is_a: causes
    represented_as: edge
    label_in_input: carries
    properties:
        data_source: str
        edglelabel: str

patient carries sample:
    is_a: carries
    represented_as: edge
    label_in_input: patient_carries_sample
    source: patient
    target: sample
    properties:
        data_source: str
        edglelabel: str

sample carries alteration:
    is_a: carries
    represented_as: edge
    label_in_input: sample_carries_alteration
    source: sample
    target: alteration
    properties:
        data_source: str
        edglelabel: str

### CAUSES

# A gene is linked to its gene status (gain or loss of function),
# which are represented as nodes, so as to allow a causal path
# to go through alteration -> gene status -> transcript activity.
# Hence, outcomes have at least two instances:
# - Gene:GoF, and
# - Gene:LoF.

alteration causes gene status:
    is_a: causes
    represented_as: edge
    label_in_input: alteration_causes_gene_status
    source: alteration
    target: gene status
    properties:
        data_source: str
        edglelabel: str

### BIOMARKER

# In some databases, such as OncoKB, drugs are associated with variants
# as predictive markers for treatment response, 
# based on clinical evidence categorized by evidence levels. 

alteration biomarker for drug:
    is_a: biomarker for
    represented_as: edge
    label_in_input: alteration_biomarker_for_drug
    source: alteration
    target: drug
    properties:
        data_source: str
        edglelabel: str

## METADATA

patient has chronic illness:
    is_a: entity to disease association
    represented_as: edge
    label_in_input: patient_has_chronic_illness
    source: patient
    target: disease
    properties:
        data_source: str

### AFFECTS

gene status affects gene:
    is_a: affects
    represented_as: edge
    label_in_input: gene_status_affects_gene
    source: gene status
    target: gene
    properties:
        data_source: str
        edglelabel: str


### GO -- TO BE FIXED
# annotation: 
#     is_a: named thing
#     represented_as: node
#     label_in_input: annotation

biological process:
    is_a: named thing
    represneted_as: node
    label_in_input: biological_process
    properties:
        data_source: str

# annotation for gene: 
#     is_a: association
#     represented_as: edge
#     label_in_input: annotation_for_gene
#     source: annotation
#     target: gene

# involved in: 
#     is_a: association
#     represented_as: edge
#     label_in_input: involved_in
#     source: annotation
#     target: biological process

gene to biological process:
    is_a: association
    represented_as: edge
    label_in_input: gene_to_biological_process
    source: gene
    target: biological process
    properties:
        edglelabel: str
        data_source: str

biological process to gene:
    is_a: association
    represented_as: edge
    label_in_input: biological_process_to_gene
    source: biological process
    target: gene
    properties:
        # edglelabel: str
        data_source: str

# protein target for drug:
#     is_a: pairwise molecular interaction
#     represented_as: edge
#     input_label: protein_target_for_drug
#     source: protein
#     target: drug
#     properties:
#         is_directed: bool
#         is_stimulation: bool
#         is_inhibition: bool
#         consensus_direction: bool
#         consensus_stimulation: bool
#         consensus_inhibition: bool
#         sources: str
#         references: str
#         omnipath: bool
#         kinaseextra: bool
#         ligrecextra: bool
#         pathwayextra: bool
#         dorothea: bool
#         collectri: bool
#         tf_target: bool
#         lncrna_mrna: bool
#         tf_mirna: bool
#         small_molecule: bool
#         dorothea_curated: bool
#         dorothea_chipseq: bool
#         dorothea_tfbs: bool
#         dorothea_coexp: bool
#         dorothea_level: str
#         type: str
#         curation_effort: int
#         extra_attrs: str
#         evidences: str
#         name: str

post translational:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: post_translational
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: str
        extra_attrs: str
        evidences: str

transcriptional:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: transcriptional
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: int
        extra_attrs: str
        evidences: str

post transcriptional:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: post_transcriptional
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: int
        extra_attrs: str
        evidences: str

mirna transcriptional:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: mirna_transcriptional
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: int
        extra_attrs: str
        evidences: str

lncrna post transcriptional:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: lncrna_post_transcriptional
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: int
        extra_attrs: str
        evidences: str

small molecule protein:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: small_molecule_protein
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: int
        extra_attrs: str
        evidences: str

drug has target:
    is_a: pairwise molecular interaction
    represented_as: edge
    input_label: drug_has_target
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: str
        extra_attrs: str
        evidences: str

drug has target complex:
    is_a: drug has target
    represented_as: edge
    input_label: drug_has_target_complex
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: str
        extra_attrs: str
        evidences: str

drug has target protein:
    is_a: drug has target
    represented_as: edge
    input_label: drug_has_target_protein
    properties:
        is_directed: bool
        is_stimulation: bool
        is_inhibition: bool
        consensus_direction: bool
        consensus_stimulation: bool
        consensus_inhibition: bool
        sources: str
        references: str
        omnipath: bool
        kinaseextra: bool
        ligrecextra: bool
        pathwayextra: bool
        dorothea: bool
        collectri: bool
        tf_target: bool
        lncrna_mrna: bool
        tf_mirna: bool
        small_molecule: bool
        dorothea_curated: bool
        dorothea_chipseq: bool
        dorothea_tfbs: bool
        dorothea_coexp: bool
        dorothea_level: str
        type: str
        curation_effort: str
        extra_attrs: str
        evidences: str